.person-desk.faq-section
  h1 Frequently Asked Questions
  v-accordion.vAccordion--default
    v-pane(multiple)
      v-pane-header Pane header #1
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dignissimos illum dolorem! Debitis laborum, quam quaerat dolorem non temporibus dolores, pariatur at commodi praesentium. Quibusdam animi pariatur aliquam ipsa, necessitatibus.
    v-pane
      v-pane-header Pane header #2
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium dolorem magnam, dicta unde quae et sequi fuga, nisi, eum provident eveniet ullam suscipit, error fugiat tempore recusandae nam! Praesentium.
    v-pane(disabled)
      v-pane-header Pane header #3
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima doloremque laboriosam laudantium, et repellat impedit quasi cum voluptatem, iusto illo. Adipisci deserunt soluta minus cupiditate sunt necessitatibus, maxime nisi obcaecati.
    v-pane
      v-pane-header Pane header #4
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium dolorem magnam, dicta unde quae et sequi fuga, nisi, eum provident eveniet ullam suscipit, error fugiat tempore recusandae nam! Praesentium.
    v-pane
      v-pane-header Pane header #5
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium dolorem magnam, dicta unde quae et sequi fuga, nisi, eum provident eveniet ullam suscipit, error fugiat tempore recusandae nam! Praesentium.
    v-pane
      v-pane-header Pane header #6
      v-pane-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium dolorem magnam, dicta unde quae et sequi fuga, nisi, eum provident eveniet ullam suscipit, error fugiat tempore recusandae nam! Praesentium.
