footer
  background maincolor
  height 60px
  position absolute
  bottom 0
  width 100%
  box-shadow 0 1px 4px 4px rgba(0,0,0,0.35)
  .footer-nav
    float right
    ul
      margin-right 10px
      li
      a
        line-height 60px
        padding 0 5px
        color secondcolor
        font-weight bold
        display inline-block
