ul
  li
    a(ng-href="/") Home
  li
    a(ng-href="/persons") Persons
  li
    a(ng-href="/contact") Contact Us
.login
  span(ng-click="main.openSingIn()") Sign in
  span(ng-click="main.openSingUp()") Sign up
