.navigation
  background maincolor
  height 60px
  border-radius 0 0 10px 10px
  position fixed
  top 0
  width 100%
  z-index 10
  box-shadow 0 2px 8px rgba(0,0,0,0.5)
  font-weight bold
  @media(max-width:375px)
    font-weight normal
  ul
    width 500px
    float left
    @media(max-width:375px)
      width 240px
      border-right 1px solid gold
    li
      display inline-block
      &:first-child
        margin 0 0 0 100px
        @media(max-width:375px)
          margin 0 0 0 10px
      & > a
        color gold
        height 100%
        display inline-block
        line-height 60px
        padding 0 20px
        @media(max-width:375px)
          padding 0 5px
        &:hover
          background gold
          color maincolor
  .login
    float right
    height 100%
    line-height 60px
    span
      display inline-block
      color gold
      padding-right 10px
      cursor pointer
