.navigation
  background #9524A9
  height 60px
  border-radius 0 0 10px 10px
  ul
    width 500px
    float left
    @media(max-width:375px)
      width 210px
    li
      display inline-block
      &:first-child
        margin 0 0 0 100px
        @media(max-width:375px)
          margin 0 0 0 10px
      & > a
        color gold
        height 100%
        display inline-block
        line-height 60px
        padding 0 20px
        @media(max-width:375px)
          padding 0 5px
        &:hover
          background gold
          color #9524A9
  .login
    float right
    height 100%
    line-height 60px
    span
      display inline-block
      color gold
      padding-right 10px
      cursor pointer
