.contact-section
  .angular-google-map-container
    border-radius 10px
    border 2px solid secondcolor
    margin-top 20px
    .title
      width 50px
      height 15px
      line-height 15px
      color secondcolor
      font-weight bold
