nav.navigation(person-navbar)
.person-desk.contact-section
  h1 Conatct us
  form(ng-submit='')
    label(for='name')
      input.person-input.field(type='text')
    label(for='email')
      input.person-input.field(type='text')
    textarea.person-input.field(cols='30', rows='10', placeholder='...')
    input.person-input.button(type='submit')
