.person-desk.contact-section
  h1 Conatct us
  form(ng-submit='')
    input.person-input.field(placeholder="name" type='text')
    input.person-input.field(placeholder="email" type='text')
    textarea.person-input.field(cols='30', rows='10', placeholder='...')
    input.person-input.button(type='submit')
  ui-gmap-google-map(draggable="true" center='ContactCtrl.map.center' zoom='ContactCtrl.map.zoom' options="ContactCtrl.options")
    ui-gmap-marker(coords="ContactCtrl.marker.coords" options="ContactCtrl.marker.options" idkey="ContactCtrl.marker.id")
      ui-gmap-window
        .title {{ContactCtrl.title}}
