.weather-section
  .input-block
    position relative
    .search
      position absolute
      top 0
      z-index 2
      right 0
      background url('../assets/images/search.svg') no-repeat 50% 50%
      cursor pointer
      height 40px
      width 40px
  .weather-table
    .table-img
      width 60px
