.person-desk.weather-section
  h1 Weather
  .input-block
    input.person-input.field(type="text" placeholder="Enter city.." ng-model="WeatherCtrl.city")
    .search(ng-click="WeatherCtrl.getWeatherByCity()")
  .tab-menu
    .table-btn(ng-click="WeatherCtrl.currentTab = 'table'" ng-class="WeatherCtrl.currentTab == 'table' ? 'active' : '' ") Table
    .block-btn(ng-click="WeatherCtrl.currentTab = 'block'" ng-class="WeatherCtrl.currentTab == 'block' ? 'active' : '' ") Block
  h2 {{WeatherCtrl.cityName}} , {{WeatherCtrl.country}}
  .tab-content(ng-switch="WeatherCtrl.currentTab")
    .weather-table(ng-switch-when="table")
      table
        tr
          th Day
          th Temperature
          th Sky
          th State
        tr(ng-repeat="day in WeatherCtrl.weather")
          td{{day.dt*1000 | date : 'EEEE'}}
          td{{WeatherCtrl.Math.round(day.temp.day)}}&deg;C
          td
            img.table-img(ng-src="../assets/images/icons/{{day.weather[0].icon}}.png")
          td{{day.weather[0].description}}
    .weather-block(ng-switch-when="block")
      .weather-wraper
        .weather-card(ng-repeat="day in WeatherCtrl.weather")

