@import 'reset'
@import 'home/home'
@import 'contact-us/contact-us'
@import 'persons/persons'
@import 'persons/personid/personid'
@import 'components/navbar/navbar'
@import 'components/footer/footer'
@import 'terms/terms'
@import 'exchange/exchange'
@import 'faq/faq'
