.person-desk.terms-section
  h1 Terms & conditions
  nav.articles-nav
    ul(du-spy-context du-scroll-container="articles-content")
      li
        a.active(href="#article-1" du-smooth-scroll du-scrollspy) Article 1
      li
        a(href="#article-2" du-smooth-scroll du-scrollspy) Article 2
      li
        a(href="#article-3" du-smooth-scroll du-scrollspy) Article 3
      li
        a(href="#article-4" du-smooth-scroll du-scrollspy) Article 4
      li
        a(href="#article-5" du-smooth-scroll du-scrollspy) Article 5
  .articles-content#articles-content(du-scroll-container)
    article#article-1
      h2 Article 1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
    article#article-2
      h2 Article 2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
    article#article-3
      h2 Article 3
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
    article#article-4
      h2 Article 4
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
    article#article-5
      h2 Article 5
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad ut vero. Iusto tempore eveniet laborum veniam quod, quas rerum temporibus quo et, sunt voluptates doloremque illo unde. Quia, aut.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In earum voluptates non. Explicabo sunt, inventore rem. Odit aliquid beatae ut, dolores est ex maiores odio, eaque, eum, molestias dolor fugiat!

