.terms-section
  .articles-nav
    float left
    margin-right 20px
    margin-top 30px
    ul
      margin-top 22px
      li
      a
        color #bbb
        margin 10px 0
        &.active
          color secondcolor
  .articles-content
    margin-top 30px
    max-height 450px
    overflow auto

