.instagram-section
  height 100%
  .load-more
    text-align center
    margin 10px
  .insta-wraper
    width 100%
    .collection
      width calc(90%/3)
      display inline-block
      margin 10px
      border 1px solid maincolor
      padding-bottom 25px
      padding-top 10px
      figure
        width 160px
        height 160px
        margin auto
        a
          width inherit
          height inherit
          img
            width inherit
            height inherit
        span.material-icons
          font-size 14px
          color red
