.delete
  transform rotate(45deg)
  display inline-block
  line-height 50px
  margin-left 20px
  font-size 26px
  color red
  cursor pointer
.person-id-section
  .gallery-item
    width 100px
    height 100px
    margin 5px
    display inline-block
    cursor pointer
