nav.navigation(person-navbar)
section.person-desk.person-id-section
  h1 {{PersonCtrl.currentPerson.name}}
  img(ng-src='{{PersonCtrl.currentPerson.img}}', alt='')
  p {{PersonCtrl.currentPerson.desc}}
  .gallery-section
    h2 Gallery
    ng-photoswipe(slides="PersonCtrl.images",options="PersonCtrl.options")
  .map-section
    h2 Location

