body
  margin 0 auto
  width 900px
  height 100%
  @media(max-width:375px)
    width 100%
.person-input
  width 100%
  margin-bottom 5px
.button
  background #9524A9
  border none
  outline none
  color gold
  padding 10px
  font-weight bold
  border-radius 10px
  cursor pointer
.field
  border-radius 10px
  outline none
  padding 5px 15px
  border 2px solid #9524A9
  color #9524A9
.angular-google-map-container
  height 300px
#cboxOverlay
  background #000
.cropit-image-preview
  width 100%
  height 300px
h1
h2
  color #9524A9
  font-size 24px
  text-align center
  margin 1em
.main-section
  position relative
  height 500px
  @media(max-width:375px)
    height 300px
  .rn-carousel-control
    color gold

  .image
    width 400px
    height 200px
    margin 0 auto
    border-radius 20px
    border 2px solid #9524A9
    @media(max-width:375px)
      width 200px
      height 100px
    li
      width 400px
      margin 0 auto
      @media(max-width:375px)
        width 200px
      img
        width 100%
