maincolor = #68D3F3
secondcolor = #3F51B5
html,body
  color #aaa
  margin 0 auto
  height 100%
  font-size 18px
  @media(max-width:375px)
    font-size 16px
.inner-wrapper
  min-height 100%
  padding 60px 0
  position relative
  background #eee
.content-wrapper
  width 90%
  padding 30px 15px
  margin 30px auto
  background #fff
  border-radius 10px
  box-shadow 2px 4px 5px 0 rgba(0,0,0,0.3), -2px 2px 5px 0 rgba(0,0,0,0.15)
.person-input
  width 100%
  margin-bottom 5px
.person-desk
  width 600px
  margin 0 auto
  height 100%
  @media(max-width:375px)
    width 300px
.button
  background maincolor
  border none
  outline none
  color secondcolor
  padding 10px
  font-weight bold
  border-radius 10px
  cursor pointer
.field
  border-radius 10px
  outline none
  padding 5px 15px
  border 2px solid secondcolor
  color maincolor
.angular-google-map-container
  height 300px
h1
h2
  color secondcolor
  font-size 24px
  text-align center
  margin-bottom 1em
.main-section
  position relative
  .main-news
    margin-top 20px
  .main-carousel
    height 200px
    position relative
    @media(max-width:375px)
      height 100px
    .rn-carousel-control
      color secondcolor

    .image
      width 400px
      height 200px
      margin 0 auto
      border-radius 20px
      border 2px solid secondcolor
      @media(max-width:375px)
        width 200px
        height 100px
      li
        width 400px
        margin 0 auto
        @media(max-width:375px)
          width 200px
        img
          width 100%
