.person-desk.main-section
  h1 Hello
  ul.image(rn-carousel rn-carousel-controls ng-carousel-transition="hexagon")
    li(ng-repeat="image in HomeCtrl.personImages track by $index")
      img(ng-src="{{image}}")
  hr
  .gallery(ng-repeat="img in HomeCtrl.images track by $index")
    img(ng-src="{{img}}" md-lightbox md-lightbox-title="")
