.person-desk.main-section
  h1 Hello
  .main-carousel
    ul.image(rn-carousel rn-carousel-controls ng-carousel-transition="hexagon")
      li(ng-repeat="image in HomeCtrl.personImages track by $index")
        img(ng-src="{{image}}")
  .div
    ng-photoswipe(slides="HomeCtrl.slides" options="HomeCtrl.opts")

  article.main-news
    h2 News
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
