.person-desk.main-section
  .banner-wraper
    #ad
      .myad-img#myad-clouds
      .myad-img#myad-photo
      #myad-txt1
        span#myad-ltr01 F
        span#myad-ltr02 e
        span#myad-ltr03 e
        span#myad-ltr04 l
        span#myad-ltr05 i
        span#myad-ltr06 n
        span#myad-ltr07 g
        span#myad-ltr08 s
        span#myad-ltr09 t
        span#myad-ltr10 r
        span#myad-ltr11 e
        span#myad-ltr12 s
        span#myad-ltr13 s
        span#myad-ltr14 e
        span#myad-ltr15 d
        span#myad-ltr16 ?
      #myad-txt2 You could be here!
      .myad-img#myad-shadow
      .myad-img#myad-txt3
      .myad-img#myad-marker
      a(ng-href="http://greensock.com/" target="_blank")
        .myad-img#myad-surfboard
  h1 Hello
  .main-carousel
    ul.image(rn-carousel rn-carousel-controls ng-carousel-transition="hexagon")
      li(ng-repeat="image in HomeCtrl.personImages track by $index")
        img(ng-src="{{image}}")
  //- .div
  //-   ng-photoswipe(slides="HomeCtrl.slides" options="HomeCtrl.opts")
  article.main-news
    h2 News
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
